{% extends 'base.html' %}

{% block form-content %}
<div class="card col-5 mt-3">
  <div class="card-body">
    <h5 class="card-title">Create an Article</h5>
    <form class="form-group" method="post" id="createArticleForm">
      {% csrf_token %}
      {{ form }}
      <button type="button" class = "btn btn-outline-success my-3" id="createButton">Create</button>
    </form>
  </div>
</div>
{% endblock %}

{% block article-content %}
<div id="articleList">
  <h2 class="my-3">All Articles</h2>
    {% for article in articles %}
    <div name="article" data-id="{{ article.id }}">
      <div class="row my-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> {{ article.headline }} </h4>
              <h6 class="card-text"> {{ article.subheading}} </h6>
              <p class="card-text"> Published {{ article.date }} </p>
              <button type="button" class="btn btn-outline-danger btn-sm" id="deleteButton">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
